.main-loading{
    background-color: black;
    height: 100vh;
}

.col {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gif{
    width:40%;
    height: auto;
    margin-bottom: 5px;
}

