@media only screen and (max-width: 992px) {

    //for mobile
    .hero {
        width: 100%;
        background: unset;

        .content {
            text-align: center;
            display: flex;
            background: unset;

            .content-text {
                // background-color: #171717;
                background: unset;
                margin: auto auto;

            }

            .call-to-action {
                margin-top: 2em;
                width: 15rem;
                padding: 1em;
            }

        }
    }

    .hero-design {
        display: none;
    }

    h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 992px) {

    //for desktop
    .hero-bg {
        // position: relative;

        // display: grid;
        // grid-template-columns: 75% auto;


        .hero {
            display: grid;
            grid-template-columns: 50% auto;
            background: unset;
            padding: 0;


            // background: #F8F9FA;
            .content {
                display: flex;
                // background: url('../../public/new-bg-hero.svg');
                // background-size: cover;
                // position: relative;


                .content-text {
                    text-align: left;
                    padding: 0em 6em;
                    margin: auto 0;
                    background: unset;


                    .meet {
                        font-size: 24px;
                        margin-top: -1em;
                    }

                    .call-to-action {
                        margin-top: 2em;
                        width: 250px;
                    }
                }
            }

        }
    }


    .hero-design {
        // position: absolute;
        display: flex;
        display: unset;
        width: 90%;
        height: auto;
        margin: auto auto;
        margin-right: 0em;

        .hero-design-svg {
            width: 100%;
        }

    }

    h1 {
        font-size: 100px;
        line-height: 10rem;
    }

}



// default
.hero {
    display: grid;
    margin-top: -1em;
    color: #F8F9FA;

    .content {
        // background-color: #171717;
        // background-color: rgba(0, 0, 0, 0);
        background: unset;


        height: 100vh;

        .meet {
            // background-color: #171717;
            // background-color: rgba(0, 0, 0, 0);
            background: unset;



            .name {
                font-weight: 600;
                color: #BE55FF;
            }
        }

    }

    h1 {
        font-weight: 600;
        line-height: 1.5em;
    }

    .go-to {
        margin-top: 2em;
        // background-color: #171717;
        background-color: rgba(0, 0, 0, 0);


        button {
            border-radius: 10px;
            padding: 0.5em 2em;
            background-color: #9E00FF;
            color: #F8F9FA;
            border: 0;
            box-shadow: 2px 2px #000000;
            font-weight: 600;
        }
    }


}

@media screen and (min-width: 1200px) {
    .hero {
        width: 1200px;
        margin: 0 auto;
    }
}