.section-container {
  padding: 3em 2.5em;
  position: relative;
}

.section-container .text-works {
  margin-bottom: 2em;
  font-weight: 600;
  color: #9E00FF;
  letter-spacing: 0.15em;
}

.section-container .upper-section .header-my-works {
  position: relative;
}

.section-container .upper-section .header-my-works h1 {
  font-weight: 600;
}

.section-container .upper-section .header-my-works h1:hover:after {
  content: "View Certificate";
  font-weight: 700;
  font-size: small;
  position: absolute;
  display: block;
  color: #121212;
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: #DEE2E6;
  border-radius: 0 0 8px 8px;
  line-height: 1.5em;
}

.section-container .lower-section .each-projects-desktop {
  background-color: #121212;
}

.section-container .lower-section .each-projects-desktop .header-my-works {
  background-color: #121212;
  position: relative;
}

.section-container .lower-section .each-projects-desktop .header-my-works h1 {
  background-color: #121212;
  font-weight: 600;
}

.section-container .lower-section .each-projects-desktop .header-my-works h1:hover:after {
  content: "View Certificate";
  font-weight: 700;
  font-size: small;
  position: absolute;
  display: block;
  color: #121212;
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: #DEE2E6;
  border-radius: 0 0 8px 8px;
  line-height: 1.5em;
}

.section-container .card {
  background-color: white;
}

@media only screen and (max-width: 992px) {
  .whole-section-container {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
    position: relative;
  }
  .upper-section {
    margin-bottom: 10em;
  }
  .upper-section .header-my-works h1 {
    font-size: 20px;
  }
  .upper-section .header-my-works p {
    font-size: 12px;
    margin-top: -0.5em;
  }
  .upper-section .content {
    margin-top: 3em;
  }
  .upper-section .content .each-projects-desktop {
    display: none;
  }
  .upper-section .content .react-3d-carousel {
    background-color: #ffffff;
  }
  .upper-section .content .react-3d-carousel .slider-single,
  .upper-section .content .react-3d-carousel .slider-single-content,
  .upper-section .content .react-3d-carousel .each-projects-mobile {
    background: rgba(0, 0, 0, 0);
  }
  .upper-section .content .each-projects-mobile {
    text-align: center;
  }
  .upper-section .content .each-projects-mobile .card {
    padding-bottom: 3em;
  }
  .upper-section .content .each-projects-mobile .card .card-body {
    background-color: white;
  }
  .upper-section .content .each-projects-mobile .card .card-title {
    font-weight: 400;
    padding-top: 1em;
  }
  .upper-section .content .each-projects-mobile .card .card-text {
    font-weight: 300;
  }
  .lower-section {
    margin-bottom: 10em;
    color: #ffffff;
  }
  .lower-section .header-my-works {
    padding-bottom: 1em;
  }
  .lower-section .header-my-works h1 {
    font-size: 20px;
  }
  .lower-section .header-my-works p {
    font-size: 12px;
    margin-top: -0.5em;
  }
  .lower-section .content {
    margin-top: -1em;
  }
  .lower-section .content .each-projects-desktop {
    display: none;
  }
  .lower-section .content .react-3d-carousel .slider-single,
  .lower-section .content .react-3d-carousel .slider-single-content,
  .lower-section .content .react-3d-carousel .each-projects-mobile {
    background: rgba(0, 0, 0, 0);
  }
  .lower-section .content .each-projects-mobile {
    text-align: center;
    padding: 0em;
  }
  .lower-section .content .each-projects-mobile .card {
    padding-bottom: 3em;
    color: #121212;
  }
  .lower-section .content .each-projects-mobile .card .card-body {
    background-color: white;
  }
  .lower-section .content .each-projects-mobile .card .card-title {
    font-weight: 400;
    padding-top: 1em;
  }
  .lower-section .content .each-projects-mobile .card .card-text {
    font-weight: 300;
  }
  .team-projects-bg-0 {
    background-color: #ffffff;
  }
  .team-projects {
    padding: 3em 2.5em;
    position: relative;
  }
  .team-projects .team-projects-scroll-bg {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    width: 100%;
  }
  .team-projects .team-projects-scroll-bg .team-projects-bg1 {
    position: absolute;
    float: left;
    left: 0;
    width: 20em;
    z-index: -1;
  }
  .team-projects .team-projects-scroll-bg .team-projects-bg2 {
    position: absolute;
    float: right;
    right: 0;
    width: 20em;
    margin-top: 63vh;
    z-index: -1;
  }
  .team-projects .text-team {
    margin-bottom: 2em;
    font-weight: 600;
    color: #9E00FF;
    letter-spacing: 0.15em;
  }
  .team-projects .content-portfolio {
    margin-bottom: 6em;
    background-color: rgba(0, 0, 0, 0);
  }
  .team-projects .content-portfolio .right,
  .team-projects .content-portfolio .left {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  .team-projects .content-portfolio .right .text .upper,
  .team-projects .content-portfolio .left .text .upper {
    margin-bottom: 4em;
  }
  .team-projects .content-portfolio .right .text .lower,
  .team-projects .content-portfolio .left .text .lower {
    position: absolute;
    bottom: 0;
    margin-bottom: -5em;
  }
  .team-projects .content-portfolio .right .text .lower a,
  .team-projects .content-portfolio .left .text .lower a {
    text-decoration: none;
    color: #9E00FF;
  }
  .team-projects .content-portfolio h1 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0em;
  }
  .team-projects .content-portfolio .role {
    font-weight: 300;
    font-size: 1em;
  }
  .team-projects .content-portfolio .line {
    font-weight: 600;
    font-size: 1em;
  }
  .team-projects .content-portfolio .stack {
    font-weight: 600;
    font-size: 0.80em;
    color: #9E00FF;
  }
  .team-projects .content-portfolio p {
    margin-top: 1em;
  }
  .team-projects .content-portfolio .portfolio-image {
    margin-top: 2em;
    width: 100%;
    max-width: 600px;
    -webkit-filter: drop-shadow(2px 2px 2px #121212);
            filter: drop-shadow(2px 2px 2px #121212);
  }
}

@media only screen and (min-width: 992px) {
  .section-container {
    padding: 6em 6em;
  }
  .upper-section {
    margin-bottom: 10em;
  }
  .upper-section .header-my-works h1 {
    font-size: 32px;
    line-height: 1em;
  }
  .upper-section .header-my-works p {
    font-size: 14px;
  }
  .upper-section .content .content-projects-desktop {
    text-align: center;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .upper-section .content .content-projects-desktop .each-projects-desktop {
    display: unset;
    position: relative;
    float: left;
    width: 20%;
    padding: 1em;
  }
  .upper-section .content .content-projects-desktop .each-projects-desktop .project-title {
    margin-bottom: 0.4em;
    display: block;
    font-size: 0.80em;
  }
  .upper-section .content .content-projects-desktop .each-projects-desktop .image-project {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
  }
  .upper-section .content .content-projects-desktop .each-projects-desktop .card-body {
    position: absolute;
    background-color: #ffffff;
    width: 90%;
    color: #121212;
  }
  .upper-section .content .content-projects-desktop .each-projects-desktop .card-body .card-text {
    text-align: left;
    font-size: 0.80em;
  }
  .upper-section .content .content-projects-desktop .each-projects-mobile {
    display: none;
  }
  .lower-section {
    color: #F8F9FA;
  }
  .lower-section .header-my-works {
    padding-bottom: 1em;
    position: relative;
  }
  .lower-section .header-my-works h1 {
    font-size: 32px;
    line-height: 1em;
  }
  .lower-section .header-my-works h1:hover:after {
    content: "View Certificate";
    font-weight: 700;
    font-size: small;
    position: absolute;
    display: block;
    color: #121212;
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: #DEE2E6;
    border-radius: 0 0 8px 8px;
    line-height: 1.5em;
  }
  .lower-section .header-my-works p {
    font-size: 14px;
  }
  .lower-section .content {
    margin-top: -1em;
  }
  .lower-section .content .content-projects-desktop {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: both;
  }
  .lower-section .content .content-projects-desktop .each-projects-desktop {
    background-color: rgba(0, 0, 0, 0);
    display: unset;
    position: relative;
    float: left;
    width: 20%;
    padding: 1em;
  }
  .lower-section .content .content-projects-desktop .each-projects-desktop .project-title {
    margin-bottom: 0.4em;
    display: block;
    font-size: 0.80em;
  }
  .lower-section .content .content-projects-desktop .each-projects-desktop .image-project {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 1px -1px 2px 0px #DCDCDC;
            box-shadow: 1px -1px 2px 0px #DCDCDC;
  }
  .lower-section .content .content-projects-desktop .each-projects-desktop .card-body {
    position: absolute;
    background-color: #ffffff;
    width: 84%;
    color: #121212;
  }
  .lower-section .content .content-projects-desktop .each-projects-desktop .card-body .card-text {
    text-align: left;
    font-size: 0.80em;
  }
  .lower-section .content .content-projects-desktop .each-projects-mobile {
    display: none;
  }
  .team-projects {
    padding: 3em 6em;
    position: relative;
  }
  .team-projects .team-projects-scroll-bg {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    width: 100%;
  }
  .team-projects .team-projects-scroll-bg .team-projects-bg1 {
    position: absolute;
    float: left;
    left: 0;
    width: 30em;
    z-index: -1;
  }
  .team-projects .team-projects-scroll-bg .team-projects-bg2 {
    position: absolute;
    float: right;
    right: 0;
    width: 30em;
    margin-top: 50vh;
    z-index: -1;
    margin-right: -6em;
  }
  .team-projects .text-team {
    margin-bottom: 2em;
    font-weight: 600;
    color: #9E00FF;
    letter-spacing: 0.15em;
    font-size: 1.5em;
  }
  .team-projects .content-portfolio {
    width: 100%;
    margin-bottom: 4em;
    overflow: hidden;
    background-color: rgba(248, 249, 250, 0.5);
  }
  .team-projects .content-portfolio .right {
    background-color: rgba(0, 0, 0, 0);
    float: right;
    width: 50%;
  }
  .team-projects .content-portfolio .right .text {
    background-color: rgba(0, 0, 0, 0);
    padding: 5em;
    padding-top: 1em;
    line-height: 1.5em;
    padding-right: 1em;
    margin-top: 0.5em;
  }
  .team-projects .content-portfolio .right .text h1 {
    line-height: 1.5em;
  }
  .team-projects .content-portfolio .right .text p {
    margin-top: 1em;
  }
  .team-projects .content-portfolio .left {
    background-color: rgba(0, 0, 0, 0);
    float: left;
    width: 50%;
  }
  .team-projects .content-portfolio .left .text {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0em;
    padding-right: 5em;
    line-height: 1.5em;
    margin-top: 1em;
  }
  .team-projects .content-portfolio .left .text h1 {
    line-height: 1.5em;
  }
  .team-projects .content-portfolio .left .text p {
    margin-top: 1em;
  }
  .team-projects .content-portfolio h1 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 0em;
  }
  .team-projects .content-portfolio .role {
    font-weight: 200;
    font-size: 1.2em;
  }
  .team-projects .content-portfolio .line {
    font-weight: 600;
    font-size: 1.3em;
  }
  .team-projects .content-portfolio .stack {
    font-weight: 600;
    font-size: 0.75em;
    color: #9E00FF;
  }
  .team-projects .content-portfolio .portfolio-image {
    margin-top: 1em;
    width: 100%;
    -webkit-filter: drop-shadow(2px 2px 2px #121212);
            filter: drop-shadow(2px 2px 2px #121212);
    padding: 0.3em;
  }
}

@media screen and (min-width: 1200px) {
  .whole-section-container {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
    position: relative;
  }
  .whole-section-container .section-container {
    width: 1200px;
    margin: 0 auto;
  }
  .team-projects-bg-0 {
    background-color: #ffffff;
  }
  .team-projects-bg-0 .team-projects-bg {
    width: 1200px;
    margin: 0 auto;
  }
}

.content-portfolio {
  position: relative;
}

.content-portfolio .lower {
  position: absolute;
  bottom: 0;
  width: 50%;
}

.content-portfolio .lower a {
  text-decoration: none;
  color: #9E00FF;
}

.content-portfolio .lower a .github-logo, .content-portfolio .lower a svg {
  width: 20px;
  margin: 0.5em;
  margin-right: 0.2em;
}
/*# sourceMappingURL=section.css.map */