.section-container {
    padding: 3em 2.5em;
    position: relative;

    .text-works {
        margin-bottom: 2em;
        font-weight: 600;
        color: #9E00FF;
        letter-spacing: 0.15em;

    }

    .upper-section {
        .header-my-works {
            position: relative;

            h1 {
                font-weight: 600;

                &:hover:after {
                    content: "View Certificate";
                    font-weight: 700;
                    font-size: small;
                    position: absolute;
                    display: block;
                    color: #121212;
                    padding: 0.5em;
                    margin-top: 0.5em;
                    background-color: #DEE2E6;
                    border-radius: 0 0 8px 8px;
                    line-height: 1.5em;
                }
            }


        }
    }

    .lower-section {
        .each-projects-desktop {
            background-color: #121212;

            .header-my-works {
                background-color: #121212;
                position: relative;

                h1 {
                    background-color: #121212;
                    font-weight: 600;

                    &:hover:after {
                        content: "View Certificate";
                        font-weight: 700;
                        font-size: small;
                        position: absolute;
                        display: block;
                        color: #121212;
                        padding: 0.5em;
                        margin-top: 0.5em;
                        background-color: #DEE2E6;
                        border-radius: 0 0 8px 8px;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }


    .card {
        background-color: white;
    }

}




@media only screen and (max-width: 992px) {

    //mobile
    .whole-section-container {
        // background: linear-gradient(180deg, #ffffff 50%, #121212 50%);
        background: linear-gradient(180deg, #ffffff 50%, rgba(0, 0, 0, 0)50%);
        position: relative;

        // .new-bg-hero {
        //     position: absolute;
        //     z-index: -1;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     // object-fit: 75%;
        //     // overflow: hidden;
        //     background-image: url("../../public/new-bg-hero.svg");
        //     background-size: fill;

        // }


    }

    .upper-section {
        margin-bottom: 10em;

        .header-my-works {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
                margin-top: -0.5em;
            }
        }

        .content {
            margin-top: 3em;

            .each-projects-desktop {
                display: none;
            }

            .react-3d-carousel {
                background-color: #ffffff;

                .slider-single,
                .slider-single-content,
                .each-projects-mobile {
                    background: rgba(0, 0, 0, 0);

                }
            }

            .each-projects-mobile {
                text-align: center;

                .card {
                    padding-bottom: 3em;


                    .card-body {
                        background-color: white;

                    }

                    .card-title {
                        font-weight: 400;
                        padding-top: 1em;
                    }

                    .card-text {
                        font-weight: 300;
                    }

                }


            }
        }
    }

    .lower-section {
        margin-bottom: 10em;
        color: #ffffff;
        // background-color: #121212;


        .header-my-works {
            // background-color: #121212;
            padding-bottom: 1em;

            h1 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
                margin-top: -0.5em;
            }
        }

        .content {
            margin-top: -1em;

            .each-projects-desktop {
                display: none;
            }

            .react-3d-carousel {
                // background-color: #121212;

                .slider-single,
                .slider-single-content,
                .each-projects-mobile {
                    background: rgba(0, 0, 0, 0);

                }
            }

            .each-projects-mobile {
                text-align: center;
                padding: 0em;

                .card {
                    padding-bottom: 3em;
                    color: #121212;

                    .card-body {
                        background-color: white;
                    }

                    .card-title {
                        font-weight: 400;
                        padding-top: 1em;

                    }

                    .card-text {
                        font-weight: 300;
                    }
                }

            }
        }
    }

    .team-projects-bg-0 {
        background-color: #ffffff;
    }

    .team-projects {
        padding: 3em 2.5em;
        position: relative;

        .team-projects-scroll-bg {
            position: sticky;
            top: 2em;
            // height: 100%;
            // background-attachment: fixed;
            // background-color: #9E00FF;
            width: 100%;


            .team-projects-bg1 {
                position: absolute;
                float: left;
                left: 0;
                width: 20em;
                z-index: -1;
                // background-color: red;
            }

            .team-projects-bg2 {
                position: absolute;
                float: right;
                right: 0;
                width: 20em;
                margin-top: 63vh;
                z-index: -1;
                // background-color: yellow;
                // margin-right: 12em;

            }

        }

        .text-team {
            margin-bottom: 2em;
            font-weight: 600;
            color: #9E00FF;
            letter-spacing: 0.15em;

        }

        .content-portfolio {
            margin-bottom: 6em;
            // position: sticky;
            background-color: rgba(0, 0, 0, 0);



            .right,
            .left {
                position: relative;
                background-color: rgba(0, 0, 0, 0);

                .text {

                    // background-color: red;
                    .upper {
                        margin-bottom: 4em;
                    }

                    .lower {
                        position: absolute;
                        bottom: 0;

                        a {
                            text-decoration: none;
                            color: #9E00FF;
                        }

                        margin-bottom: -5em;


                    }
                }

            }


            h1 {
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 0em;
            }

            .role {
                font-weight: 300;
                font-size: 1em;
            }

            .line {
                font-weight: 600;
                font-size: 1em;

            }

            .stack {
                font-weight: 600;
                font-size: 0.80em;
                color: #9E00FF;

            }

            p {
                margin-top: 1em;
            }

            .portfolio-image {
                margin-top: 2em;
                width: 100%;
                max-width: 600px;
                filter: drop-shadow(2px 2px 2px #121212);

            }
        }

    }
}

@media only screen and (min-width: 992px) {

    //destkop
    .section-container {
        padding: 6em 6em;
    }

    .upper-section {
        margin-bottom: 10em;

        .header-my-works {
            h1 {
                font-size: 32px;
                line-height: 1em;
            }

            p {
                font-size: 14px;
            }
        }

        .content {

            .content-projects-desktop {
                text-align: center;
                clear: both;
                display: flex;

                .each-projects-desktop {
                    display: unset;
                    position: relative;
                    float: left;
                    width: 20%;
                    padding: 1em;



                    .project-title {
                        margin-bottom: 0.4em;
                        display: block;
                        font-size: 0.80em;
                    }

                    .image-project {
                        width: 100%;
                        height: auto;
                        background-color: #ffffff;
                        border-radius: 10px 10px 0 0;
                    }

                    .card-body {
                        position: absolute;
                        background-color: #ffffff;
                        width: 90%;
                        color: #121212;

                        .card-text {
                            text-align: left;

                            font-size: 0.80em;
                        }
                    }


                }

                .each-projects-mobile {
                    display: none;
                }
            }

        }
    }

    .lower-section {
        color: #F8F9FA;
        // background-color: #121212;


        .header-my-works {
            // background-color: #121212;
            padding-bottom: 1em;
            position: relative;


            h1 {

                font-size: 32px;
                line-height: 1em;

                &:hover:after {
                    content: "View Certificate";
                    font-weight: 700;
                    font-size: small;
                    position: absolute;
                    display: block;
                    color: #121212;
                    padding: 0.5em;
                    margin-top: 0.5em;
                    background-color: #DEE2E6;
                    border-radius: 0 0 8px 8px;
                    line-height: 1.5em;

                }
            }

            p {

                font-size: 14px;

            }
        }

        .content {
            margin-top: -1em;

            .content-projects-desktop {

                text-align: center;
                display: flex;
                clear: both;

                .each-projects-desktop {
                    background-color: rgba(0, 0, 0, 0);

                    display: unset;
                    position: relative;
                    float: left;
                    width: 20%;
                    padding: 1em;

                    .project-title {
                        margin-bottom: 0.4em;
                        display: block;
                        font-size: 0.80em;
                    }

                    .image-project {
                        width: 100%;
                        height: auto;
                        background-color: #ffffff;
                        border-radius: 10px 10px 0 0;
                        box-shadow: 1px -1px 2px 0px #DCDCDC;
                    }

                    .card-body {
                        position: absolute;
                        background-color: #ffffff;
                        width: 84%;
                        color: #121212;

                        .card-text {
                            text-align: left;
                            font-size: 0.80em;
                        }
                    }
                }

                .each-projects-mobile {
                    display: none;
                }
            }

        }
    }

    .team-projects {
        padding: 3em 6em;
        position: relative;


        .team-projects-scroll-bg {
            position: sticky;
            top: 2em;
            width: 100%;

            .team-projects-bg1 {
                position: absolute;
                float: left;
                left: 0;
                width: 30em;
                z-index: -1;
            }

            .team-projects-bg2 {
                position: absolute;
                float: right;
                right: 0;
                width: 30em;
                margin-top: 50vh;
                z-index: -1;
                margin-right: -6em;

            }

        }

        .text-team {
            margin-bottom: 2em;
            font-weight: 600;
            color: #9E00FF;
            letter-spacing: 0.15em;
            font-size: 1.5em;

        }

        .content-portfolio {
            width: 100%;
            margin-bottom: 4em;
            overflow: hidden;
            // position: sticky;
            background-color: rgba(248, 249, 250, 0.5);


            .right {
                background-color: rgba(0, 0, 0, 0);

                float: right;
                width: 50%;

                .text {
                    background-color: rgba(0, 0, 0, 0);

                    padding: 5em;
                    padding-top: 1em;
                    line-height: 1.5em;
                    padding-right: 1em;

                    h1 {
                        line-height: 1.5em;
                    }

                    p {
                        margin-top: 1em;
                    }

                    margin-top: 0.5em;

                }



            }

            .left {
                background-color: rgba(0, 0, 0, 0);

                float: left;
                width: 50%;

                .text {
                    background-color: rgba(0, 0, 0, 0);

                    h1 {
                        line-height: 1.5em;
                    }

                    p {
                        margin-top: 1em;
                    }

                    padding-top: 0em;
                    padding-right: 5em;
                    line-height: 1.5em;
                    margin-top: 1em;


                }
            }



            h1 {
                font-weight: 600;
                font-size: 2.5em;
                margin-bottom: 0em
            }

            .role {
                font-weight: 200;
                font-size: 1.2em;
            }

            .line {
                font-weight: 600;
                font-size: 1.3em;

            }

            .stack {
                font-weight: 600;
                font-size: 0.75em;
                color: #9E00FF;

            }

            .portfolio-image {
                margin-top: 1em;
                width: 100%;
                filter: drop-shadow(2px 2px 2px #121212);
                padding: 0.3em;
            }
        }

    }


}



@media screen and (min-width: 1200px) {

    .whole-section-container {
        height: 100%;
        background: linear-gradient(180deg, #ffffff 50%, rgba(0, 0, 0, 0)50%);
        position: relative;

        // .new-bg-hero {
        //     position: absolute;
        //     z-index: -1;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     // object-fit: 75%;
        //     // overflow: hidden;
        //     background-image: url("../../public/new-bg-hero.svg");
        //     background-size: fill;

        // }

        .section-container {
            width: 1200px;
            margin: 0 auto;
        }
    }

    .team-projects-bg-0 {
        background-color: #ffffff;

        .team-projects-bg {
            width: 1200px;
            margin: 0 auto;
        }

    }




}

.content-portfolio {
    position: relative;

    .lower {
        position: absolute;
        bottom: 0;
        width: 50%;
        // background-color: red;


        a { 
            text-decoration: none;
            color: #9E00FF;

            .github-logo, svg {
                width: 20px;
                margin: 0.5em;
                margin-right: 0.2em;
            }
        }

    }



}